.skill_container {
  padding: 100px 78px 40px 78px;
  background-color: #070708;
  height: auto;
  /* background-color: #000; */
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  /* background-image: url("https://i.imgur.com/ZTmyYsa.png"); */
  /* position: relative; */
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

.skill_title {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 60%,
    rgb(193, 193, 196) 10%
  );
  -webkit-background-clip: text; /* For WebKit/Blink browsers */
  color: transparent; /* Make the text transparent */
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.skills_para {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #797c86;
  text-align: center;
  margin-top: 10px;
}

.skill_grid {
  margin-top: 60px;
  display: grid;
  /* max-width: 1200px; */
  /* width: 100%; */
  display: grid;
  margin-top: 60px;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  position: relative;
}
.skill_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.servicer img {
  width: 150px;
  object-fit: contain;
}
.skill_sub_grid {
  padding: 15px;
  border: 1px solid rgba(28, 28, 33, 1);
  border-radius: 8px;
  background-color: #0e0e10;
}

.skill_titles {
  text-align: center;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #e4e4e6;
}
.paragraph_section p {
  font-size: 16px;
  line-height: 150%;
  color: #797c86;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .skill_container {
    padding: 100px 38px 40px 38px;
  }
}

@media screen and (max-width: 707px) {
  .skill_container {
    padding: 80px 18px 40px 18px;
  }

  .skill_grid {
  }
}

@media screen and (max-width: 600px) {
  .skill_title {
    font-size: 25px;
    width: 100%;
  }

  .skill_img img {
    height: 40vh;
  }
}

@media screen and (max-width: 400px) {
  .skill_grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
  }
}

@media screen and (max-width: 300px) {
  .skill_grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
  }
}
