.homer{
    position: relative;
}

.template_imger{
    position: fixed;
    overflow: hidden;
    opacity: .2;
    bottom: 0;
    left: -250px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
transform: rotate(90deg);
}
