* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* background-color: #070708; */
  font-family: "Manrope", sans-serif;
  font-family: "Urbanist", sans-serif;

}

.linka {
  text-decoration: none;
  color: inherit;
}

a {
  cursor: pointer;
}
